<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="end">
      <app-type-user class="optionTypeUser" [userData]="userData" (userDataOutput)="setUserData($event)"></app-type-user>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="contact">
    <ion-card-header>
      CONTACTO
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="contactForm" (ngSubmit)="saveForm()">
        <ion-list>
          <ion-item>
            <ion-input formControlName="email" label="Email" labelPlacement="stacked" [disabled]="userData.type != 'admin'" [value]="contact.email"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input formControlName="phone" label="Teléfono" labelPlacement="stacked" [disabled]="userData.type != 'admin'" [value]="contact.phone"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input formControlName="instagram" label="Instagram" labelPlacement="stacked" [disabled]="userData.type != 'admin'" [value]="contact.instagram"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input formControlName="facebook" label="Facebook" labelPlacement="stacked" [disabled]="userData.type != 'admin'" [value]="contact.facebook"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="youtube" label="Youtube" labelPlacement="stacked" [disabled]="userData.type != 'admin'" [value]="contact.youtube"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userData.type == 'admin'">
              <ion-buttons slot="end">
                <ion-button [disabled]="checkValidators()" type="submit" [color]="checkValidators()? 'danger' : 'success'">Guardar</ion-button>
              </ion-buttons>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">Isaac Morales - Test Oden</ion-title>
  </ion-toolbar>
</ion-footer>
