
    <ion-select [label]="userData.name" aria-label="Fruit" interface="popover" placeholder="Select fruit" justify="end" [value]="userData.type" (ionChange)="setTypeUser($event)">
      <ion-select-option value="admin">Administrador</ion-select-option>
      <ion-select-option value="user">Usuario</ion-select-option>
    </ion-select>