<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>ODEN</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-header">
        <ion-list>
          <ion-item>
            <ion-button (click)="goHome()" color="dark" expand="block" fill="clear">Home</ion-button>
          </ion-item>
          <ion-item>
            <ion-button (click)="goContact()" color="dark" expand="block" fill="clear">Contacto</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>