<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <ion-grid id="container">
    <ion-row>
      <ion-col sizeXs="2" sizeLg="4" sizeMd="4" sizeSm="6" sizeXs="12" *ngFor="let image of data">
        <ion-card>
          <img alt="largeImageURL" [src]="image.largeImageURL" />
          <ion-card-header>
            <ion-card-title>{{image.tags}}</ion-card-title>
            <ion-card-subtitle>by: {{image.user}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>CONTACTO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form>
              <ion-list>
                <ion-item>
                  <ion-input label="Email" labelPlacement="stacked" disabled="true" [value]="contact.email"></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-input label="Teléfono" labelPlacement="stacked" disabled="true" [value]="contact.phone"></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-input label="Instagram" labelPlacement="stacked" disabled="true" [value]="contact.instagram"></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-input label="Facebook" labelPlacement="stacked" disabled="true" [value]="contact.facebook"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Youtube" labelPlacement="stacked" disabled="true" [value]="contact.youtube"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Isaac Morales - Test Oden</ion-title>
  </ion-toolbar>
</ion-footer>
